*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    --font-family-asap: "Asap", serif;
    --font-family-incosolata: "Inconsolata", serif;
    --font-family-maven: "Maven Pro", serif;
}

.title-lg-asap{
    font-size: 56px;
    line-height: 120%;
    font-weight: bold;
    color: var(--gray-600);
    font-family: var(--font-family-asap);
}

.title-md-asap{
    font-size: 24px;
    line-height: 120%;
    font-weight: bold;
    font-family: var(--font-family-asap);
}

.title-sm-asap{
    font-size: 16px;
    line-height: 120%;
    font-weight: bold;
    color: var(--gray-600);
    font-family: var(--font-family-asap);
}

.subtitle{
    font-family: var(--font-family-incosolata);
    font-size: 20px ;
    line-height: 120%;
    color: var(--red);
}

.text-md-maven{
    font-size: 16px;
    line-height: 140%;
    color: var(--gray-500);
    font-family: var(--font-family-maven);

}

.text-sm-maven{
    font-size: 14px;
    line-height: 140%;
    color: var(--gray-500);
    font-family: var(--font-family-maven);
}

.container{
    max-width: 1366px;
    padding-inline: 80px;
    margin-inline: auto;
}

body{
    background-color: var(--gray-300);
    color: var(--gray-500);
}

main{
    padding-block: 80px;
    background-color: var(--gray-200);
    
    #apresentation{ 
        
        img{
            width: 100%;
            height: 750px;
        }

        #info{
            display: flex;
            flex-direction: column;
            position: absolute;
            top: 64%;
            left: 50%;
            transform: translate(-50%, -50%);
            text-align: center;



            span + h1{
                padding-top: 8px;
                padding-bottom: 20px;
            }

            h1 + p{
                color: var(--gray-400 ); 
                padding-bottom: 50px;
            }

            img{
                border-radius: 50%;
                object-fit: contain;
                width: 80px;
                height: 80px;
                outline: 2px solid var(--red);
                border: 2px solid var(--gray-100);
            }

            .subtitle-2{
                display: flex;
                justify-content: center;
                font-family: var(--font-family-incosolata);
                font-size: 20px ;
                line-height: 120%;
                color: var(--gray-500);
                padding-top: 56px;
            }
            
        }

        #technology{
            display: flex;
            position: absolute;
            top: 99%;
            left: 30%;
            transform: translate(-50%, -0%);
            text-align: center;
            flex-direction: row;
            width: 10%;
            gap: 16px;

            section{
                    display: flex;
                    flex-direction: row;
                    align-items: center;
                    gap: 16px;
                    height: 50px;
                    width: 110px;

                    div:has(img){
                        display: flex;
                        flex-direction: row;
                        align-items: center;
                        width: 135px;
                        height: 40px;
                        background-color: var(--gray-300);
                        border-radius: 30px;
        
                        padding: 10px ;
                    }
            }

            img{
                border: none;
                outline: none;
                height: 20px;
                width: 20px;
                margin-right: 10px;
            }
        }

        #doubleArrowBellow{
            display: flex;
            position: absolute;

            top: 65%;
            left: 50%;

            width: 20px;
            height: 20px;
        }
         
    }
        
    
    #job{
        padding-bottom: 144px;

        header{
            display: flex;
            flex-direction: column;
            align-items: center;
            gap: 8px;
            padding: 72px 0px 56px; 
        }

        #thumb{
            width: 100%;
            display: grid;
            grid-template-columns: repeat(auto-fit, 330px);
            grid-template-rows: repeat(2, 280px);
            gap: 24px;
            padding-bottom: 144px;
            padding: 0px 75px;

            section{
                max-width: 330px;
                min-width: 50px;
                border-radius: 12px;
                background-color: var(--gray-300);
            }

            img{
                width: 100%;
                padding: 12px 12px 20px 12px;
                border-radius: 25px; 
            }   

            div h3{
                padding: 0px 16px 8px;  
            }

            div p{
                padding: 0px 16px;
            }
    }
}

#thumb {
    section{
        transition: outline 0.4s ease-out;
        outline: 2px solid var(--gray-300);
        cursor: pointer;
    }

    section:hover{
        outline: 2px solid var(--gray-400);
    }
}

    #myService {
        background-color: var(--gray-100);
        padding-bottom: 120px;

        header{
            display: flex;
            gap: 8px;
            align-items: center;
            flex-direction: column;
            padding: 88px 0px 56px;
        }

        #service{
            display: grid;
            width: 100%;
            
            grid-template-columns: repeat(auto-fit, 280px);
            grid-template-rows: 155px;
            gap: 24px;
            padding: 0px 145px 0px;

            section{    
                
                border-radius: 12px;
                outline: 1px solid var(--gray-200);

                img{
                    margin: 20px;
                    width: 48px;
                    height: 48px;
                }

                div h3{
                    padding: 0px 20px 8px;  
                }
    
                div p{
                    padding: 0px 20px;
                }
            }
        } 
    } 

    #contact{
        position: relative;
        text-align: center;

        .subtitle-2{
            font-family: var(--font-family-incosolata);
            font-size: 20px ;
            line-height: 120%;
            color: var(--gray-500);
            padding-top: 8px;
        }

        .subtitle-3{
            font-family: var(--font-family-incosolata);
            font-size: 20px ;
            line-height: 120%;
            color: var(--purple);
            padding-bottom: 8px;
        }

        .header{
            position: absolute;
            top: 20%;
            left: 50%;
            transform: translate(-50%, -50%);
        } 

        span img{
            width: 20px;
            height: 20px;
        }

        .img-background{
            width: 100%;
            height: 787px;
        }

        .svg-icon-media{
            width: 23px;
            height: 23px;
        }


        .svg-icon-arrow{
            width: 11px;
            height: 11px;
        }

        .social-media{  
            position: absolute;
            top: 55%;
            left: 50%;
            transform: translate(-50%, -50%);
        }

        .card-social-media{
            display: flex;
            flex-direction: row;
            align-items: center;
            width: 400px;
            height: 68px;
            background-color: var(--gray-300);
            border-radius: 8px;
            margin: 16px;
            padding: 24px;

            
        }
        
    }

    
}