*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

:root{
    --red: #E3646E;
    --purple: #BB72E9;
    --blue: #3996DB;
    --green: #82BC4F;
    --yellow: #EABD5F;

    --gray-100: #0D0E11;
    --gray-200: #16181D;
    --gray-300: #292C34;
    --gray-400: #878EA1;
    --gray-500: #C0C4CE;
    --gray-600: #E2E4E9;

    --font-family-asap: "Asap", serif;
    --font-family-incosolata: "Inconsolata", serif;
    --font-family-maven: "Maven Pro", serif;
}

.title-lg-asap{
    font: 56px 120% bold;
    color: var(--gray-600);
    font-family: var(--font-family-asap);
}

.title-md-asap{
    font: 24px 120% bold;
    font-family: var(--font-family-asap);
}

.title-sm-asap{
    font: 16px 120% bold;
    color: var(--gray-600);
    font-family: var(--font-family-asap);
}

.subtitle{
    font-family: var(--font-family-incosolata);
    font: 20px 120%;
}

.text-md-maven{
    font: 16px 140%;
    font-family: var(--font-family-maven);
}

.text-sm-maven{
    font: 14px 140%;
    color: var(--gray-500);
    font-family: var(--font-family-maven);
}

.container{
    max-width: 1366px;
    padding-inline: 80px;
    margin-inline: auto;
}

body{
    background-color: var(--gray-300);
    color: var(--gray-500);
}

main{
    padding-block: 80px;
    background-color: var(--gray-200);
    img{
        display: grid;
        width: 100%;
    }

    #job{

        .subtitle{
            color: var(--red);
            text-align: center;
            padding-top: 72px;
            padding-bottom: 8px;
        }

        #thumb{
            display: grid;
            grid-template-columns: repeat(3, 330px);
            grid-template-rows: repeat(2, 280px);
            gap: 24px;
            padding-bottom: 144px;
            margin: 0px 84px 0px;

            div{
                border-radius: 12px;
                background-color: var(--gray-300);
            }

            div:nth-child(1){
                img{
                    padding: 12px 12px 20px 12px;
                    border-radius: 25px; 
                }   

                div{
                    padding: 0px 4px 8px;

                    p{
                        padding: 0px 4px;
                    }
                }
            }
        }

    }

    #service {
        
        background-color: var(--gray-100);

        .subtitle{
            color: var(--red);
            text-align: center;
            padding-top: 88px;
            padding-bottom: 8px;
            
        }
    }

    h2{
        text-align: center;
        padding-bottom: 56px;
    }
    
}

